* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #9ba89f,
    #97ad9e,
    #94b29c,
    #90b69a,
    #8dbb97
  );
}

.title {
  text-align: center;
  padding-top: 30px;
  font-size: 60px;
}

.main-container {
  width: 700px;
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  background-color: #e0e0e0;
  border: 2px solid #030e14;
  border-radius: 15px;
}

.screen {
  display: flex;
  padding: 20px;
  justify-content: center;
  font-size: 80px;
  font-weight: 400;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #70b171;
  color: #0e2916;
  border: 3px solid #09070a;
}

.buttons {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.increment-buttons,
.decrement-buttons {
  display: flex;
  gap: 16px;
  width: 45%;
}

.decrement-buttons {
  justify-content: flex-end;
}

.inc-btn,
.dec-btn {
  width: 100%;
  padding: 8%;
  font-size: 30px;
  font-weight: 500;
  touch-action: manipulation;
  background-color: #f6414a;
  color: #fff;
  border: none;
  transition: all 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.inc-btn:active,
.dec-btn:active,
.reset-btn:active {
  transform: translate(5px, 5px);
  transition: all 0.2s ease;
}

.reset {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.reset-btn {
  padding: 3% 5%;
  background-color: rgb(133, 49, 49);
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  border: none;
  transition: all 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media (max-width: 800px) {
  .main-container {
    width: 90%;
  }

  .inc-btn,
  .dec-btn,
  .reset-btn {
    min-width: 54px;
    font-size: 20px;
  }
}
